@media only screen and (min-width:200px) and (max-width:990px) {
    .main-website {width: 90%;margin: 0 auto;}
    .header-logo{width: 35%;margin-left: 56px;}
    .header-logo img{margin-left: 20px;}
    .header-menu{display: none;}
    .header-search{width: 18%;}
    .entry-post{margin: 0 auto;}
    .entry-two{margin-top: 30px;}
    .post-box{width: 95%;}
    .sidebar{margin-top: 40px;}
    .sidebar-box{float:left;margin-left: 13px;}
    .footer-text{width: 296px;}
    .search-content{width: 90%;}
    input.search-text{width: 100%;}
    input.search-btn{margin-left: -61px;}
    #header{overflow: hidden;}
    .header-content{width: 100%;}
}

@media only screen and (min-width:200px) and (max-width:770px){
    .entry-post{width: 100%;}
    .entry-two{margin-left: 0px;}
    .entry-box{width: 93%;margin-top: 25px;}
    .box{flex-direction: column;}
    .box-img{width: 100%;}
    .box-content{margin-bottom: 20px;}
    .box-content p{font-size: 15px;}
    .sidebar-box{margin-left: 0px;}
    .footer-content{flex-direction: column;}
    .footer-content{flex-direction: column;}
    .footer-logo{margin-bottom: 20px;}
    .footer-menu{margin-left: -13px;}
    .copyright, .dev-text{font-size: 10px;margin-top: -14px;}
    .post-box{margin-left: 10px;}
    .header-logo{width: 60%;margin-left: 23px;}
    .header-logo img{margin-top: -76px;margin-left: 37px;}
    .header-search{width: 11%;}

}